name: "Pull Request Build"
on:
  - pull_request
jobs:
  linux-build-jvm:
    name: PR - Linux - JVM build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11 ]
    steps:
      - uses: actions/checkout@v6
      - name: Install JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          check-latest: true
          cache: 'maven'
      - name: Build
        run: |
          mvn -s .github/mvn-settings.xml clean install -Dvalidate-format
